@import "tailwindcss";

* {
  font-family: "Exo", sans-serif;
  scroll-behavior: smooth;
}

/* Hide vertical scrollbar for all browsers */
/* html,
body {
  overflow-y: hidden;
} */

/* Optional: Hide scrollbar for Webkit browsers */
body::-webkit-scrollbar {
  display: none;
}

body {
  box-sizing: border-box;
}

@media only screen and (min-width: 460px) {
  /* Hide horizontal scrollbar on small screens */
  .second-hero {
    display: flex;
  }
}
@media only screen and (min-width: 600px) {
  /* Hide horizontal scrollbar on small screens */
  .third-hero {
    display: flex;
  }
}

/* Custom scrollbar with rounded corners */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
  border-radius: 8px;
  background: #f3f3f3;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f3f3f3;
  border-radius: 8px;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db #f3f3f3;
  border-radius: 8px;
}
